.page-container {
    margin: 0;
    padding: 30px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.upper-part-container {
    height: 30%;
    display: flex;
    justify-content: center;
}

.due-this-week-container {
    margin: 0 30px;
    width: 60%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-page-heading {
    font-size: 20px;
    font-weight: 900;
    color: #192b59;
    margin: 10px;
}

.due-this-week-content-container {
    width: 100%;
    height: 100%;
    background-color: #5a5ee3;
    border-radius: 15px;
}

.home-progress-container {
    /* border: 2px solid red; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.home-progress-content-container {
    background-color: #fff;
    /* height: 100%; */
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.lower-part-container {
    padding: 30px;
}